<h1>The whole list of tests</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>Level</th>
    <th>Questions count</th>
    <th colspan="2">Author</th>
    <th colspan="3">Actions</th>
  </tr>
  <%= render @tests %>
</table>

<p>
  <%= link_to 'Create Test', new_admin_test_path %>
</p>
