<div class="footer navbar navbar-dark bg-dark">
  <div class="btn btn-dark btn-sm">
    <%= Time.zone.now.year %>
  </div>
  <div class="btn btn-dark btn-sm">
    <%= mail_to 'vertupro061@gmail.com', 'Пронин Николай', class: "white-link" %>
  </div>
  <div class="btn btn-dark btn-sm">
    <%= github_url('nick-pronin','TestGuru') %>
  </div>
  <div class="btn btn-dark btn-sm">
    <%= link_to 'Учебный проект в онлайн-школе "Thinknetica"', 'http://thinknetica.com/', target: "_blank", class: "white-link" %>
  </div>
</div>
